/* 先覆盖变量 */
$body-background: #f5f5f5;
$body-text: #333333;
$header-background: #e0e0e0;
$header-text: #444444;
$footer-background: #dcdcdc;
$footer-text: #333333;
$links: #666666;
$links-hover: #888888;

/* 然后导入 Minima 样式 */
@import "minima";
